altgraph==0.17.5
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
dnspython==2.8.0
idna==3.16
macholib==1.16.4
packaging==26.2
pillow==12.2.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
python-dateutil==2.9.0.post0
python-whois==0.9.6
reportlab==4.5.1
requests==2.34.2
setuptools==82.0.1
six==1.17.0
tkinterdnd2==0.4.3
urllib3==2.7.0
